<div class="row">
  <div class="col col-md-12">
    <h1>Alerts</h1>
    <alert type="success">{{title}}</alert>
    <alert type="warning">{{title}}</alert>
    <alert type="info">{{title}}</alert>
    <div *ngFor="let alert of alerts">
      <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{alert.msg}}</alert>
    </div>
    <button type="button" class="btn btn-primary" (click)="add('info')">Add timed info alert</button>
    <button type="button" class="btn btn-warning" (click)="add('warning')">Add timed warning alert</button>


  </div>
</div>
